.features {
  .feature {
    margin-bottom: 20px;

    .ant-card-body {
      .ant-btn {
        margin-bottom: 20px;
      }

      .ant-alert {
        margin-bottom: 20px;
      }
    }

    .wrap-button {
      white-space: normal;
      padding: 8px 15px;
      height: auto;
    }

    .ant-typography.ant-typography-secondary {
      word-break: break-word;
    }

    .code-block {
      margin-top: 10px;
      padding: 0.2em 0.4em 0.1em;
      font-size: 85%;
      background: rgba(0, 0, 0, 0.06);
      border: 1px solid rgba(0, 0, 0, 0.06);
      border-radius: 3px;
      word-break: break-all;
    }
  }

  .button-back {
    margin-bottom: 50px;
  }
}
