.logs {
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  padding: 20px;

  ul {
    margin-top: 90px;
    color: white;
    font-family: monospace;
    font-size: 12px;
  }
}
